python==3.11.12
cuda-python==12.6.2.post1
dbus-python==1.2.18
google-api-python-client==2.164.0
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
numpy==2.0.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
python-apt==0.0.0
python-box==.3.2
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==8.0.4
python-snappy==.7.3
python-utils==3.9.1
scikit-learn==1.6.1
seaborn==0.13.2
tensorflow==2.18.0
tensorflow-datasets==4.9.8
tensorflow_decision_forests==1.11.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.1
tensorflow-probability==0.25.0
tensorflow-text==2.18.1
